/*
Possible colors:
Green: #16FFBD
Red: #e90042
Blue/violet: #6b16ff
Yellow/orange: #ffb516
https://www.sessions.edu/color-calculator/
*/


body {
    margin: 0;
    background: #ffb516;
}

header {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    margin: 20px 0 100px 0;
    display: flex;
    justify-content: center;
}

#title {
    width: 700px;
    height: 100px;
    background: white;
    border: 1px solid black;
    box-shadow: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
}

#controls, #ghost {
    width: 200px;
    height: 400px;
    box-sizing: border-box;
}

#controls {
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: space-evenly;
    box-shadow: 10px 10px;
    border: 1px solid black;
}

#grid {
    background: white;
    width: 400px;
    height: 400px;
    display: grid;
    box-shadow: 10px 10px;
    min-width: 400px;
}


.grid-element {
    background: white;
    border: 1px solid black;
    
    box-sizing: border-box;
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}


/* BUTTON */

.active {
    background: black;
    color: white;
}

.active button {
opacity: 1;
}

button {
    text-align: center;
    display: inline-block;
    padding: 15px 10px;
    border: 1px solid black;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background: white;
  }
  
  button:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : #ffb516;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 1;
  }
  
  button:hover:before {
    left:95%;
  }


  /* SLIDER BTN */

  #sliderBtn {
    -webkit-appearance: none;
    width: 70%;
    height: 10px;
    background: black;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 7px;
    border-radius: 10px;
  }
  
  #sliderBtn:hover {
    opacity: 0.7;
  }
  
  #sliderBtn::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #ffb516;
    cursor: pointer;
  }
  
  #sliderBtn::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #ffb516;
    cursor: pointer;
  }

/* Color choice button */

#colorChoiceBtn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#colorChoiceBtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0px;
}

#colorChoiceBtn::-webkit-color-swatch {
    border-radius: 10%;
}